[Unit]
After=dbus.socket

[Service]
Type=oneshot
ExecStart=sh -c 'notify-send "Tick Tock" "$(date +%%H:%%M)" --icon %ICON% --urgency low --expire-time 15000'
